$primary: #1c1c1c;
$white: #b6b6b6;

.profiles {
  padding: 6rem;

  .profiles-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
}

.profile {
  padding: 1rem;
  margin: 0 auto;

  .shape {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: $white;
    margin-bottom: 3rem;
  }

  &__details {
    text-align: center;
  }

  h4 {
    margin-bottom: 2rem;
    font-weight: 600;
  }
}
